<div>

	<h2 translate="nodesoftApp.variant.home.title">Variant</h2>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<button class="btn btn-primary" data-toggle="modal"
					data-target="#saveVariantModal" ng-click="clear()">
					<span class="glyphicon glyphicon-flash"></span> <span
						translate="nodesoftApp.variant.home.createLabel">Create a
						new Variant</span>
				</button>
			</div>
			<div class="col-md-8">
				<form name="searchForm" class="form-inline">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="searchQuery"
							id="searchQuery" placeholder="query">
					</div>
					<button class="btn btn-info" ng-click="search()">
						<span class="glyphicon glyphicon-search"></span> <span>Search
							a Variant</span>
					</button>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-8 ">
				<div class="form-inline form-group">
					<input class="form-control" type="checkbox" ng-model="deleted"
						ng-change="loadAll()"> Show Deleted
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="saveVariantModal" tabindex="-1"
		role="dialog" aria-labelledby="myVariantLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="editForm" role="form" novalidate ng-submit="save()"
					show-validation>

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true" ng-click="clear()">&times;</button>
						<h4 class="modal-title" id="myVariantLabel"
							translate="nodesoftApp.variant.home.createOrEditLabel">Create
							or edit a Variant</h4>
					</div>
					<div class="modal-body">

						<div>
							<h4>
								Master SKU: <span class="text-info">{{product.variant.sku}}</span>
							</h4>
						</div>
						<div
							ng-if="product.optionTypes == null || product.optionTypes.length == 0">
							<label>Option Type</label> * <input type="hidden"
								name="optionType" ng-model="variant.optionType" required>
							<a class="form-control btn btn-primary"
								ui-sref="admin.productEdit({id: $stateParams.productId})"
								target="product"> Select Option Types of the Product ...</a>
						</div>
						<div
							ng-repeat="(key, optionType) in product.optionTypes | orderBy:'position' ">
							<label>Option Type </label> *: {{optionType.presentation}} <select
								style="width: 100%" ui-select2
								ng-model="variant.optionValueMap[optionType.id]"
								placeholder="Pick a option value" required>
								<option class="form-control"
									ng-repeat="optionValue in optionType.optionValues | orderBy:'position' "
									value="{{optionValue.id}}"
									ng-selected="variant.optionValues[optionType.id] == optionValue.id.toString()">{{optionValue.presentation}}</option>
							</select>
							<div ng-hide="optionType.optionValues.length > 0">
								<a class="btn-primary"
									ui-sref="admin.optionTypeDetail({id: optionType.id})"
									target="option_values"> Create Option Values of
									{{optionType.presentation}}...</a>
							</div>
						</div>
						<div class="form-group">
							<label translate="nodesoftApp.variant.sku">Sku</label>* <input
								type="text" class="form-control" name="sku"
								ng-model="variant.sku" required>

							<div ng-show="editForm.sku.$invalid">
								<p class="help-block" ng-show="editForm.sku.$error.required"
									translate="entity.validation.required">This field is
									required.</p>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-5">
								<label translate="nodesoftApp.variant.price">Price</label> * <input
									type="number" class="form-control" name="price"
									ng-model="variant.price" required>
								<div ng-show="editForm.price.$invalid">
									<p class="help-block" ng-show="editForm.price.$error.number"
										translate="entity.validation.number">This field should be
										a number.</p>
								</div>
							</div>
							<div class="form-group col-md-5">
								<label translate="nodesoftApp.variant.costPrice">Cost
									Price</label> <input type="number" class="form-control"
									name="costPrice" ng-model="variant.costPrice">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-5">
								<label translate="nodesoftApp.variant.weight">Weight</label> <input
									type="text" class="form-control" name="weight"
									ng-model="variant.weight">

							</div>
							<div class="form-group col-md-5">
								<label translate="nodesoftApp.variant.height">Height</label> <input
									type="text" class="form-control" name="height"
									ng-model="variant.height">

							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-5">
								<label translate="nodesoftApp.variant.width">Width</label> <input
									type="text" class="form-control" name="width"
									ng-model="variant.width">

							</div>
							<div class="form-group col-md-5">
								<label translate="nodesoftApp.variant.depth">Depth</label> <input
									type="text" class="form-control" name="depth"
									ng-model="variant.depth">

							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
								translate="entity.action.cancel">Cancel</span>
						</button>
						<button type="submit" ng-disabled="editForm.$invalid"
							class="btn btn-primary">
							<span class="glyphicon glyphicon-save"></span>&nbsp;<span
								translate="entity.action.save">Save</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="deleteVariantConfirmation">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="deleteForm" ng-submit="confirmDelete(variant.id)">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true" ng-click="clear()">&times;</button>
						<h4 class="modal-title" translate="entity.delete.title">Confirm
							delete operation</h4>
					</div>
					<div class="modal-body">
						<p translate="nodesoftApp.variant.delete.question"
							translate-values="{id: '{{variant.id}}'}">Are you sure you
							want to delete this Variant?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
								translate="entity.action.cancel">Cancel</span>
						</button>
						<button type="submit" ng-disabled="deleteForm.$invalid"
							class="btn btn-danger">
							<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
								translate="entity.action.delete">Delete</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-md-push-9">
			<div class="list-group">
				<div class="list-group-item">
					<strong> Menu </strong>
				</div>
				<a ng-class="{active: $state.includes('admin.product')}"
					ui-sref="admin.product" class="list-group-item"> Products
					List</a> <a ng-class="{active: $state.includes('admin.product')}"
					ui-sref="admin.productEdit({id: $stateParams.productId})"
					class="list-group-item"> Product Details</a> <a
					ng-class="{active: $state.includes('admin.variant')}"
					ui-sref="admin.variant({productId: $stateParams.productId})"
					class="list-group-item"> Variants</a> <a
					ng-class="{active: $state.includes('admin.asset')}"
					ui-sref="admin.asset({productId: $stateParams.productId})"
					class="list-group-item"> Images </a>
			</div>
		</div>
		<div class="col-md-9 col-md-pull-3">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th translate="nodesoftApp.variant.options">Options</th>
							<th translate="nodesoftApp.variant.price">Price</th>
							<th translate="nodesoftApp.variant.costPrice">CostPrice</th>
							<th translate="nodesoftApp.variant.sku">Sku</th>
							<th translate="nodesoftApp.variant.position">Position</th>
							<th></th>
						</tr>
					</thead>
					<tbody ui-sortable="sortableOptions" ng-model="variants">
						<tr ng-repeat="variant in variants">
							<td><span class="glyphicon glyphicon-list"></span>
								{{variant.options}}</td>
							<td>{{variant.price}}</td>
							<td>{{variant.costPrice}}</td>
							<td>{{variant.sku}}</td>
							<td>{{variant.position}}</td>
							<td>
								<button ng-hide="variant.deletedDate" type="submit"
									ng-click="showUpdate(variant.id)"
									class="btn btn-primary btn-xs">
									<span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
										translate="entity.action.edit"> Edit</span>
								</button>
								<button ng-hide="variant.deletedDate" type="submit"
									ng-click="delete(variant.id)" class="btn btn-danger btn-xs">
									<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
										translate="entity.action.delete"> Delete</span>
								</button>
								<button ng-show="variant.deletedDate" type="submit"
									ng-click="active(variant.id)" class="btn btn-info btn-xs">
									<span class="glyphicon glyphicon-repeat"></span>&nbsp;<span
										translate="entity.action.active"> Active</span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
