<div>

    <h2 translate="nodesoftApp.product.home.title">Product</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveProductModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="nodesoftApp.product.home.createLabel">Create a new Product</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Product</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveProductModal" tabindex="-1" role="dialog" aria-labelledby="myProductLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myProductLabel" translate="nodesoftApp.product.home.createOrEditLabel">Create or edit a Product</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="product.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="nodesoftApp.product.name">Name</label>
                            <input type="text" class="form-control" name="name"
                                   ng-model="product.name">

                        </div>
                        <div class="form-group">
                            <label translate="nodesoftApp.product.properties">Properties</label>
                            <input type="text" class="form-control" name="properties"
                                   ng-model="product.properties">

                        </div>
                        <div class="form-group">
                            <label translate="nodesoftApp.product.description">Description</label>
                            <input type="text" class="form-control" name="description"
                                   ng-model="product.description">

                        </div>
                        <div class="form-group">
                            <label translate="nodesoftApp.product.availableDate">AvailableDate</label>
                            <input type="date" class="form-control" name="availableDate"
                                   ng-model="product.availableDate">

                        </div>
                        <div class="form-group">
                            <label translate="nodesoftApp.product.deletedDate">DeletedDate</label>
                            <input type="datetime-local" class="form-control" name="deletedDate"
                                   ng-model="product.deletedDate" ng-model-options="{timezone: 'UTC'}">

                        </div>
                        <div class="form-group">
                            <label translate="nodesoftApp.product.slug">Slug</label>
                            <input type="text" class="form-control" name="slug"
                                   ng-model="product.slug">

                        </div>
                        <div class="form-group">
                            <label translate="nodesoftApp.product.metaDescription">MetaDescription</label>
                            <input type="text" class="form-control" name="metaDescription"
                                   ng-model="product.metaDescription">

                        </div>
                        <div class="form-group">
                            <label translate="nodesoftApp.product.metaKeywords">MetaKeywords</label>
                            <input type="text" class="form-control" name="metaKeywords"
                                   ng-model="product.metaKeywords">

                        </div>

                        <div class="form-group">
                            <label translate="nodesoftApp.product.optionType">optionType</label>
                            <select class="form-control" multiple name="optionType" ng-model="product.optionTypes" ng-options="optionType as optionType.id for optionType in optiontypes track by optionType.id">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="nodesoftApp.product.taxon">taxon</label>
                            <select class="form-control" multiple name="taxon" ng-model="product.taxons" ng-options="taxon as taxon.id for taxon in taxons track by taxon.id">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteProductConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(product.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="nodesoftApp.product.delete.question" translate-values="{id: '{{product.id}}'}">Are you sure you want to delete this Product?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="nodesoftApp.product.name">Name</th>
                    <th translate="nodesoftApp.product.properties">Properties</th>
                    <th translate="nodesoftApp.product.description">Description</th>
                    <th translate="nodesoftApp.product.availableDate">AvailableDate</th>
                    <th translate="nodesoftApp.product.deletedDate">DeletedDate</th>
                    <th translate="nodesoftApp.product.slug">Slug</th>
                    <th translate="nodesoftApp.product.metaDescription">MetaDescription</th>
                    <th translate="nodesoftApp.product.metaKeywords">MetaKeywords</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products">
                    <td><a ui-sref="productDetail({id:product.id})">{{product.id}}</a></td>
                    <td>{{product.name}}</td>
                    <td>{{product.properties}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.availableDate}}</td>
                    <td>{{product.deletedDate}}</td>
                    <td>{{product.slug}}</td>
                    <td>{{product.metaDescription}}</td>
                    <td>{{product.metaKeywords}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="productDetail({id:product.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(product.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(product.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
